/* 

وقتی یه فایل سی اس اس رو ایمپورت میکنه خودکار میره و بالا قرار میگیره مثل هویستینگ توی جی اس کار میکنه برای همین حواست به این موضوع باشه و نمیتونیم مثلا بیایم و کدهای اصلی رو بنویسیم و بعدش فایل ریسپانسیو رو ایمپورت کنیم این کار اصولی نیست و یا باید برای کدهای اصلی یه فایل دیگه بسازیم و اونم ایمپورت کنیم و بعدش ریسپانسیو رو ایمپورت کنیم یا اینکه بعد از فایل اصلی فایل ریسپانسیو رو توی فایل اچ تی ام ال لینک بدهیم

*/

/* The order of import files is important */
@import url("normalize.css");
@import url("grid.css");
@import url("fonts.css");

/*------------ Variables ------------*/
:root {
  /* colors */
  --text-color: #333333;
  --app-bg-color: #fff;
  --section-bg-color: #fff;

  --primary-color: #0abead;
  --secondary-color: #f57f17;
}

/*------------- My Reset CSS -------------*/
html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Poppinse Regular";
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--app-bg-color);
  margin-top: 12rem; /* equal to header's height */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/*---------------------- Helper Classes ----------------------*/

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.container {
  border-left: 1px solid red;
  border-right: 1px solid red;
}

.img-fluid {
  width: 100%;
  height: 100%;
}

/*------------------------ components ------------------------*/
.app-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 6rem;
  border-radius: 4rem;
  text-transform: capitalize;
  color: #fff;
  font-family: "Poppinse Semibold";
}

.app-btn--primary {
  background-color: var(--primary-color);
  box-shadow: 0 1.6rem 2.9rem 0 rgba(11, 190, 173, 0.41);
}

.app-btn--secondary {
  background-color: var(--secondary-color);
  box-shadow: 0 1.6rem 2.9rem 0 rgba(245, 127, 23, 0.24);
}

.section-title {
  font-family: "Poppinse Bold";
  font-size: 4.8rem;
  text-transform: capitalize;
  color: var(--primary-color);
  margin: 0;
  text-align: center;
}

.section-subtitle {
  margin: 0;
  text-transform: capitalize;
  margin: 0.8rem 0 2.8rem 0;
  text-align: center;
  letter-spacing: 0.25rem;
}

.section-line {
  width: 24rem;
  height: 2px;
  background-color: var(--primary-color);
  border-radius: 3rem;
  position: relative;
  margin: 0 auto;
  margin-bottom: 7rem;
}

.section-line::before {
  content: "";
  display: block;
  position: absolute;
  width: 4rem;
  height: 1rem;
  border-radius: 5rem;
  background-color: var(--primary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*------------------------ Header ------------------------*/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0.3rem 5.9rem 0 rgba(4, 195, 255, 0.16);
  background-color: var(--section-bg-color);
  z-index: 11;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  transition: all 200ms ease;
}

.logo {
}

.logo h1 {
  font-size: 6rem;
  font-family: "Poppinse Black";
  color: var(--primary-color);
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.menu__item {
}

.menu__link {
  font-family: "Poppinse Medium";
  text-transform: capitalize;
  transition: color 200ms ease;
}

.menu__link:hover {
  color: var(--primary-color);
}

.menu__link--active {
  color: var(--primary-color);
}

.bars {
  display: none;
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bars__line {
  position: relative;
  width: inherit;
  height: 4px;
  background-color: var(--primary-color);
  border-radius: 2rem;
  transition: all 50ms ease-in;
}

.bars__line::before,
.bars__line::after {
  position: absolute;
  content: "";
  display: block;
  width: inherit;
  height: 4px;
  background-color: var(--primary-color);
  border-radius: 2rem;
  transition: all 200ms ease-in;
}

.bars__line::before {
  top: 1.2rem;
}

.bars__line::after {
  bottom: 1.2rem;
}

/* Open Habmurgers Toggle icon */
.bars.bars--open .bars__line {
  background-color: transparent;
}

.bars.bars--open .bars__line::before {
  transform: translateY(-1.2rem) rotate(45deg);
}

.bars.bars--open .bars__line::after {
  transform: translateY(1.2rem) rotate(-45deg);
}

/* Overlay */
.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: all 200ms ease-in;
  backdrop-filter: blur(4px);
}

.overlay.overlay--active {
  opacity: 1;
  visibility: visible;
}

/*----------------------------- Main -----------------------------*/
.main {
}

/*-------- Hero Section --------*/

.hero {
  padding: 8rem 0 30rem 0;
  background-image: url("../media/shapes/header-shape.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  scroll-margin-top: 10rem;
}

.hero__content {
}

.hero__mini-title {
  font-family: "Poppinse Semibold";
  font-size: 2.8rem;
  text-transform: capitalize;
  margin: 0;
  color: var(--primary-color);
}

.hero__title {
  font-family: "Poppinse Bold";
  font-size: 5rem;
  text-transform: capitalize;
  margin: 0;
  color: var(--primary-color);
}

.hero__mini-title .username {
  color: var(--secondary-color);
}

.hero__caption {
  margin: 0;
  opacity: 70%;
}

.hero__links-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 4rem;
}

.hero__img {
  max-width: 55rem;
  height: 55rem;
  border: 2rem solid var(--section-bg-color);
  background-image: url("../media/pictures/header-avatar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 5.9rem 0 rgba(96, 233, 255, 27%);
}

/*------------- About Us Section -------------*/

.about {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  scroll-margin-top: 10rem; /* we can use this instead of large padding */
}

.about__wrapper {
  display: flex;
  box-shadow: 0 0 5.9rem rgba(96, 233, 255, 27%);
  background-color: var(--section-bg-color);
}

.about__img-wrapper {
  width: 48%;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__content {
  width: 52%;
  padding: 4rem 3rem 6rem 3rem;
}

.about__title {
  font-family: "Poppinse Semibold";
  font-size: 2.4rem;
  margin: 0;
}

.about__caption {
  margin-bottom: 0;
}

.about__mini-title {
  font-family: "Poppinse Semibold";
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-top: 7rem;
}

.about__list {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-left: 1rem;
}

.about__list-item {
  /* padding-left: 2.4rem; */
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.about__list-item::before {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: var(--secondary-color);
}

.about__links-wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* Services Section */
.services {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  scroll-margin-top: 10rem;
}

.service-card {
  color: #fff;
  text-align: center;
  padding: 8rem;
  position: relative;
  overflow: hidden;
  transition: transform 150ms ease-in;
}

.service-card:hover {
  transform: scale(1.02);
}

.service-card__content {
  position: relative;
  z-index: 1;
}

/* Varient Service Card Background */
.service-card--purple {
  background-color: #8540ff;
  box-shadow: 0 0 3.5rem rgba(113, 18, 255, 33%);
}

.service-card--purple .service-card__wave {
  color: #803afb;
}

.service-card--yellow {
  background-color: #ffc50c;
  box-shadow: 0 0 3.5rem rgba(255, 197, 12, 33%);
}

.service-card--yellow .service-card__wave {
  color: #ffbb01;
}

.service-card--pink {
  background-color: #ec407a;
  box-shadow: 0 0 3.5rem rgba(236, 64, 122, 33%);
}

.service-card--pink .service-card__wave {
  color: #f5276c;
}

.service-card--orange {
  background-color: #ff6331;
  box-shadow: 0 0 3.5rem rgba(255, 99, 49, 33%);
}

.service-card--orange .service-card__wave {
  color: #ff5823;
}

.service-card--blue {
  background-color: #13b6ff;
  box-shadow: 0 0 3.5rem rgba(19, 182, 255, 33%);
}

.service-card--blue .service-card__wave {
  color: #03acf8;
}

.service-card--green {
  background-color: #49af46;
  box-shadow: 0 0 3.5rem rgba(73, 175, 70, 33%);
}

.service-card--green .service-card__wave {
  color: #49b846;
}

.service-card__title {
  font-family: "Poppinse Bold";
  font-size: 2.4rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: 2.4rem 0 1.2rem 0;
}

.service-card__caption {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
}

.service-card__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transform: scale(1.7, 1.3); /* width , height */
}
