/* The order of import files is important */
@import url("normalize.css");
@import url("grid.css");
@import url("fonts.css");

/*------------ Variables ------------*/
:root {
  /* colors */
  --text-color: #333333;
  --app-bg-color: #fff;
  --section-bg-color: #fff;

  --primary-color: #0abead;
  --secondary-color: #f57f17;
}

/* dark theme */
:root.dark-theme {
  --text-color: #95a5c6;
  --app-bg-color: #161d26;
  --section-bg-color: #1f2935;
}

:root.dark-theme .header,
:root.dark-theme .hero__img,
:root.dark-theme .about__wrapper,
:root.dark-theme .resume,
:root.dark-theme .pricing,
:root.dark-theme .package,
:root.dark-theme .resume__list {
  box-shadow: none;
}

:root.dark-theme .hero {
  background-image: url("../media/shapes/header-shape-dark.svg");
}

:root.dark-theme .tab__item-title {
  color: var(--secondary-color);
}

/*------------- My Reset CSS -------------*/
html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Poppinse Regular";
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--app-bg-color);
  margin-top: 12rem; /* equal to header's height */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/*---------------------- Helper Classes ----------------------*/

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.img-fluid {
  width: 100%;
  height: 100%;
}

.skew-y-5 {
  transform: skewY(5deg);
}

.bg-orange {
  background-color: #ff6331;
}

.bg-purple {
  background-color: rgb(128, 58, 251);
}

.bg-pink {
  background-color: rgb(245, 39, 108);
}

/*------------------------ components ------------------------*/
.app-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 6rem;
  border-radius: 4rem;
  text-transform: capitalize;
  color: #fff;
  font-family: "Poppinse Semibold";
}

.app-btn--primary {
  background-color: var(--primary-color);
  box-shadow: 0 1.6rem 2.9rem 0 rgba(11, 190, 173, 0.41);
}

.app-btn--secondary {
  background-color: var(--secondary-color);
  box-shadow: 0 1.6rem 2.9rem 0 rgba(245, 127, 23, 0.24);
}

.app-btn--orange {
  background-color: rgb(255, 99, 49);
  box-shadow: 0 1.6rem 2.9rem 0 rgba(255, 99, 49, 0.24);
}

.app-btn--purple {
  background-color: rgb(128, 58, 251);
  box-shadow: 0 1.6rem 2.9rem 0 rgba(128, 58, 251, 0.24);
}

.app-btn--pink {
  background-color: rgb(245, 39, 108);
  box-shadow: 0 1.6rem 2.9rem 0 rgba(245, 39, 108, 0.24);
}

.section-title {
  font-family: "Poppinse Bold";
  font-size: 4.8rem;
  text-transform: capitalize;
  color: var(--primary-color);
  margin: 0;
  text-align: center;
}

.section-subtitle {
  margin: 0;
  text-transform: capitalize;
  margin: 0.8rem 0 2.8rem 0;
  text-align: center;
  letter-spacing: 0.25rem;
}

.section-line {
  width: 24rem;
  height: 2px;
  background-color: var(--primary-color);
  border-radius: 3rem;
  position: relative;
  margin: 0 auto;
  margin-bottom: 7rem;
}

.section-line::before {
  content: "";
  display: block;
  position: absolute;
  width: 4rem;
  height: 1rem;
  border-radius: 5rem;
  background-color: var(--primary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*------------------------ Header ------------------------*/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0.3rem 5.9rem 0 rgba(4, 195, 255, 0.16);
  background-color: var(--section-bg-color);
  z-index: 11;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  transition: all 200ms ease;
}

.logo {
}

.logo h1 {
  font-size: 6rem;
  font-family: "Poppinse Black";
  color: var(--primary-color);
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.menu__item {
  cursor: pointer;
}

.menu__item--active {
  color: var(--primary-color);
}

.menu__link {
  font-family: "Poppinse Medium";
  text-transform: capitalize;
  transition: color 200ms ease;
}

.menu__link:hover {
  color: var(--primary-color);
}

.bars {
  display: none;
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bars__line {
  position: relative;
  width: inherit;
  height: 4px;
  background-color: var(--primary-color);
  border-radius: 2rem;
  transition: all 50ms ease-in;
}

.bars__line::before,
.bars__line::after {
  position: absolute;
  content: "";
  display: block;
  width: inherit;
  height: 4px;
  background-color: var(--primary-color);
  border-radius: 2rem;
  transition: all 200ms ease-in;
}

.bars__line::before {
  top: 1.2rem;
}

.bars__line::after {
  bottom: 1.2rem;
}

/* Open Habmurgers Toggle icon */
.bars.bars--open .bars__line {
  background-color: transparent;
}

.bars.bars--open .bars__line::before {
  transform: translateY(-1.2rem) rotate(45deg);
}

.bars.bars--open .bars__line::after {
  transform: translateY(1.2rem) rotate(-45deg);
}

/* Overlay */
.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: all 200ms ease-in;
  backdrop-filter: blur(4px);
}

.overlay.overlay--active {
  opacity: 1;
  visibility: visible;
}

/*----------------------------- Main -----------------------------*/

/*-------- Hero Section --------*/

.hero {
  padding: 8rem 0 30rem 0;
  background-image: url("../media/shapes/header-shape.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.hero__content {
}

.hero__mini-title {
  font-family: "Poppinse Semibold";
  font-size: 2.8rem;
  text-transform: capitalize;
  margin: 0;
  color: var(--primary-color);
}

.hero__title {
  font-family: "Poppinse Bold";
  font-size: 5rem;
  text-transform: capitalize;
  margin: 0;
  color: var(--primary-color);
}

.hero__mini-title .username {
  color: var(--secondary-color);
}

.hero__caption {
  margin: 0;
  opacity: 70%;
}

.hero__links-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 4rem;
}

.hero__img {
  max-width: 55rem;
  height: 55rem;
  border: 2rem solid var(--section-bg-color);
  background-image: url("../media/pictures/header-avatar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 5.9rem 0 rgba(96, 233, 255, 27%);
}

/*------------- About Us Section -------------*/

.about {
  margin-top: 8rem;
}

.about__wrapper {
  display: flex;
  box-shadow: 0 0 5.9rem rgba(96, 233, 255, 27%);
  background-color: var(--section-bg-color);
}

.about__img-wrapper {
  width: 48%;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__content {
  width: 52%;
  padding: 4rem 3rem 6rem 3rem;
}

.about__title {
  font-family: "Poppinse Semibold";
  font-size: 2.4rem;
  margin: 0;
}

.about__caption {
  margin-bottom: 0;
}

.about__mini-title {
  font-family: "Poppinse Semibold";
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-top: 7rem;
}

.about__list {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-left: 1rem;
}

.about__list-item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.about__list-item::before {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: var(--secondary-color);
}

.about__links-wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* Services Section */
.services {
  margin-top: 8rem;
}

.service-card {
  color: #fff;
  text-align: center;
  padding: 8rem;
  position: relative;
  overflow: hidden;
  transition: transform 150ms ease-in;
}

.service-card:hover {
  transform: scale(1.02);
}

.service-card__content {
  position: relative;
  z-index: 1;
}

/* Varient Service Card Background */
.service-card--purple {
  background-color: #8540ff;
  box-shadow: 0 0 3.5rem rgba(113, 18, 255, 33%);
}

.service-card--purple .service-card__wave {
  color: #803afb;
}

.service-card--yellow {
  background-color: #ffc50c;
  box-shadow: 0 0 3.5rem rgba(255, 197, 12, 33%);
}

.service-card--yellow .service-card__wave {
  color: #ffbb01;
}

.service-card--pink {
  background-color: #ec407a;
  box-shadow: 0 0 3.5rem rgba(236, 64, 122, 33%);
}

.service-card--pink .service-card__wave {
  color: #f5276c;
}

.service-card--orange {
  background-color: #ff6331;
  box-shadow: 0 0 3.5rem rgba(255, 99, 49, 33%);
}

.service-card--orange .service-card__wave {
  color: #ff5823;
}

.service-card--blue {
  background-color: #13b6ff;
  box-shadow: 0 0 3.5rem rgba(19, 182, 255, 33%);
}

.service-card--blue .service-card__wave {
  color: #03acf8;
}

.service-card--green {
  background-color: #49af46;
  box-shadow: 0 0 3.5rem rgba(73, 175, 70, 33%);
}

.service-card--green .service-card__wave {
  color: #49b846;
}

.service-card__title {
  font-family: "Poppinse Bold";
  font-size: 2.4rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: 2.4rem 0 1.2rem 0;
}

.service-card__caption {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
}

.service-card__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transform: scale(1.7, 1.3); /* width , height */
}

/*----------------- Resume Section -----------------*/
.resume {
  background-color: var(--section-bg-color);
  padding-top: 9rem;
  padding-bottom: 9rem;
  margin-top: 8rem;
  box-shadow: 0 0 8.1rem 0 rgba(19, 182, 255, 0.24);
  transform: skewY(-5deg);
}

.resume__container {
  display: flex;
  gap: 5rem;
}

.resume__list {
  background-color: var(--app-bg-color);
  box-shadow: 0 0 5.9rem 0 rgba(96, 233, 255, 27%);
  width: 30%;
  padding: 5rem 5rem 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  flex-shrink: 0; /* fixed size and don't minimize */
  z-index: 1;
}

.resume__list::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--primary-color);
  width: 4rem;
  top: 0;
  left: 0;
  bottom: 0;
}

.resume__list-item {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  cursor: pointer;
  text-transform: capitalize;
  position: relative;
  font-size: 2rem;
  font-family: "Poppinse Semibold";
  transition: all 200ms ease;
}

.resume__list-item span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.resume__list-item::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 5rem;
  border-radius: 0 3rem 3rem 0;
  background-color: var(--primary-color);
  transition: all 250ms ease;
  z-index: -1;
}

.resume__list-item svg {
  width: 2.4rem;
  height: 2.4rem;
  flex-shrink: 0;
}

.resume__list-item--active {
  color: #fff;
}

.resume__list-item--active::before {
  width: 100%;
  box-shadow: 0 0 5.9rem rgba(26, 233, 255, 27%);
  transform: scale(1);
}

.resume__list-item {
}

/* tabs */
.tabs {
  width: 70%;
  align-self: stretch;
}

.tab {
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: opacity 200ms ease-in-out;
  border-left: 2px solid var(--primary-color);
}

.tab--active {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.tab__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.4rem 0;
}

.tab__item {
  padding-left: 25px;
}

.tab__item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab__item-title {
  font-family: "Poppinse Semibold";
  font-size: 2rem;
  color: #ff5823;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 1.4rem;
  position: relative;
}

.tab__item-title::before {
  content: "";
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 100%;
  transform: translateX(-1.6rem);
}

.tab__item-badge {
  display: inline-block;
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 3rem;
  padding: 0.4rem 0.8rem;
  box-shadow: 0 0.3rem 0.7rem 0 rgba(245, 127, 23, 24%);
}

.tab__item-content {
}

.tab__content-title {
  font-family: "Poppinse Semibold";
  margin: 0;
  margin-bottom: 0.7rem;
}

.tab__contetn-text {
  margin: 0;
}

/* portfolio Section */
.portfolio {
  margin-top: 8rem;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4.4rem;
  gap: 1rem;
}

.portfolio-list__item {
  border-radius: 4rem;
  width: 15.7rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--section-bg-color);
  cursor: pointer;
  transition: all 200ms ease;
}

.portfolio-list__item--active {
  background-color: var(--primary-color);
  color: #fff;
}

/* Portfolio__content */
.portfolio__content {
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: all 300ms linear;
}

.portfolio__content--active {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.swiper {
  height: 100%;
}

.swiper-slide {
  height: unset; /* fix slider image height */
}

.swiper-pagination-bullet {
  width: 2.4rem;
  height: 2.4rem;
  border: 4px solid #bfbebe;
  background-color: #fff;
}

.swiper-pagination-bullet-active {
  border-color: var(--primary-color);
}

.slider-img {
  width: 100%;
  height: 100%; /* fix slider image height */
}

/* 
NOTE : if we need pagaintion not over on slider and be under the slider with some space between slider and pagination we must set position : static; to pagination

pagination , navigation buttons has position absolute so be carefull

*/

.swiper-pagination {
  position: static;
  margin-top: 1.7rem;
}

/*----------------- Pricing Section -----------------*/
.pricing {
  background-color: var(--section-bg-color);
  padding-top: 9rem;
  margin-top: 8rem;
  padding-bottom: 15rem;
  box-shadow: 0 0 8.1rem 0 rgba(19, 182, 255, 0.24);
  transform: skewY(-5deg);
}

.package {
  box-shadow: 0 0 6rem 0 rgba(96, 233, 255, 0.27);
}

.package__header {
  color: #fff;
  text-align: center;
  padding: 3rem 0;
}

.package__title {
  font-size: 3.6rem;
  font-family: "Poppinse Semibold";
  margin: 0;
}

.package__price {
  display: inline-block;
  font-family: "Poppinse Semibold";
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.package__filter {
  margin: 0;
}

.package__body {
  background-color: var(--app-bg-color);
  padding: 4rem 0 4.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pakage__options {
  margin-bottom: 2.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.package__options-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.package__link {
}

/* Contact Us Section */
.contactus {
  padding-top: 8rem;
}

.contactus__wrapper {
  background-image: url("../media/pictures/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 6rem 0;
}

.contactus__map {
  background-color: var(--app-bg-color);
  width: 4.5rem;
  height: 4.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0 0 5.9rem 0 rgba(96, 233, 255, 0.27), 0 0 0 15px var(--app-bg-color), 0 0 5.9rem 0 rgba(96, 233, 255, 0.27);
  position: absolute;
  top: 42%;
  left: 18%;
}

.contactus__map-icon {
  position: absolute;
}

.contact {
  background-color: var(--section-bg-color);
  box-shadow: 0 0 8.1rem 0 rgba(19, 182, 255, 0.24);
  max-width: 57rem;
  padding: 5rem;
  margin-left: auto;
}

.contact__title {
  font-family: "Poppinse Bold";
  font-size: 3.6rem;
  color: var(--primary-color);
  text-transform: capitalize;
  margin: 0 0 2.4rem 0;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact__input {
  padding: 2rem;
  border: none;
  outline: none;
  box-shadow: 0 0 5.9rem 0 rgba(98, 233, 255, 0.27);
  background-color: var(--app-bg-color);
  border-radius: 1rem;
  color: var(--text-color);
}

.contact__input::placeholder {
  text-transform: capitalize;
  color: var(--text-color);
  font-size: 1.6rem;
}

.contact__input--texterea {
  min-height: 8rem;
  max-height: 18rem;
  resize: vertical;
}

.contact__btn {
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
}

/* Footer */
.footer {
  padding: 2.6rem 0;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__text {
  font-family: "Poppinse Semibold";
  letter-spacing: 0.25rem;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footer__social {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--text-color);
  color: var(--app-bg-color);
  transition: all 200ms ease;
}

.footer__social:hover {
  background-color: var(--primary-color);
  box-shadow: 0 0 5.9rem 0 rgba(96, 233, 255, 0.27);
}

.footer__social-icon {
  width: 3rem;
  height: 3rem;
}

/* theme toggler  */
.theme-toggler {
  width: 5rem;
  height: 5rem;
  background-color: var(--app-bg-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 1000;
}

.theme-toggler svg {
  width: 3rem;
  height: 3rem;
}

.theme-toggler .moon-icon {
  display: none;
}

.theme-toggler.theme-toggler--dark .moon-icon {
  display: block;
}

.theme-toggler.theme-toggler--dark .sun-icon {
  display: none;
}
