@media screen and (max-width: 1400px) {
  .hero__img {
    height: 45rem;
  }

  .hero {
    background-size: unset;
  }
}

@media screen and (max-width: 1200px) {
  .hero__title {
    font-size: 4.4rem;
  }
}

@media screen and (max-width: 992px) {
  .logo h1 {
    font-size: 5rem;
  }

  .menu {
    position: absolute;
    background-color: var(--section-bg-color);
    /* border: 1px solid red; */
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    flex-direction: column;
    transition: all 200ms ease-in;
    height: 0;
    overflow: hidden;
    z-index: 11;
  }

  .menu--open {
    padding: 2rem 0;
    height: auto;
  }

  .bars {
    display: flex;
  }

  /* Hero Section */

  .hero {
    text-align: center;
  }

  .hero__img {
    max-width: 45rem;
    margin: 0 auto;
  }

  .hero__links-wrapper {
    justify-content: center;
  }

  /* About Section */
  .about__wrapper {
    flex-direction: column;
  }

  .about__img-wrapper {
    width: 100%;
  }

  .about__content {
    width: 100%;
    padding: 2.4rem 2.4rem 5rem;
  }
}

@media screen and (max-width: 768px) {
  .about__links-wrapper {
    flex-wrap: wrap;
  }

  .about__links-wrapper a {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .hero__mini-title {
    font-size: 2rem;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__links-wrapper {
    gap: 1.6rem;
  }
}

@media screen and (max-width: 500px) {
  .hero__img {
    max-width: 32rem;
    height: 32rem;
    border-width: 1.5rem;
  }
  .hero__links-wrapper a {
    flex-grow: 1;
  }
}

@media screen and (max-width: 400px) {
}
